body{
    font-family: 'arial',sans-serif;
    line-height: 1.6;
    padding-top: 75px;
    padding-bottom: 75px;
}

.home-page{
    margin-top: 1px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.social-links .btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 0px;
    display: inline-flex;
}

.profile-img{
    width: 200px;
    height:200px;
    border:5px solid white;
}

.section-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    position: relative;
    padding: 1rem;
    color:#333;
}

.section-title::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    width: 90px;
    height: 3px;
    background:#007bff;
}

.about-img{
    width: 290px;
    height:290px;
   
}

.progress{
    height: 10px;
    border-radius: 10px;
}

.skill-item{
  margin-bottom: 1.5rem;
}


.card{
    border:none;
    transition:transform 0.3s ease;
    margin-bottom: 5px;
    
}

.card:hover{
    transform:translateY(-5px);
}

.tech-tags{
    margin-bottom: 5px;
    margin-right: 5px;
}

.tech-tags.badge{
    margin-bottom: 10px;
    margin-top: 10px;

}

.card-image{
    width: 250px;
}

.form-control{
    border: 2px solid #e9ecef;
    padding:10px 15px;
}
 
.form-control:focus{
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rbga(100,150,200,20);
    
}

footer{
    margin-top:auto;
}

@media (max-width: 768px){
    .home-page{
        text-align: center;
        padding: 40px 0 40px 0;
    }

    .profile-img{
        width: 150px;
        height:150px;
        margin-top:1rem;
    }

    .section-title{
        font-size: 1rem;
    }

    .about-img{
    width: 250px;
    height:250px;
    margin-left: 100px;
    margin-right: 100px;
    }
}

@media(max-width:576px){
    body{
        padding-top: 65px;
    }

    .home-page{
        margin-top: -40px;
        padding-top: 80px;
    }
    
    .btn{
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
    }
}

